@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
/* ----- Reset all styles ----- */
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(217deg, 54%, 11%);
  position: relative;
  width: 100%;
  height: 100vh;
}

/* ----- NFTCard styles ----- */
.NFTCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  padding: 1.5rem;
  background-color: hsl(216deg, 50%, 16%);
  border-radius: 15px;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  row-gap: 1rem;
}
.NFTCard .NFTCard__img {
  width: 302px;
  height: 302px;
  position: relative;
}
.NFTCard .NFTCard__img::before {
  content: "";
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 255, 247, 0.5);
  background-image: url("../assets/icon-view.svg");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.NFTCard .NFTCard__img:hover::before {
  opacity: 1;
}
.NFTCard .NFTCard__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.NFTCard .NFTCard__title a {
  font-size: 1.375rem;
  color: hsl(0deg, 0%, 100%);
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-top: 0.5rem;
}
.NFTCard .NFTCard__title a:hover {
  color: hsl(178deg, 100%, 50%);
}
.NFTCard .NFTCard__description {
  font-size: 1.125rem;
  color: hsl(215deg, 51%, 70%);
  line-height: 1.625rem;
  font-weight: 300;
}
.NFTCard .NFTCard__infos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-block: 0.5rem;
}
.NFTCard .NFTCard__infos .NFTCard__price {
  font-size: 1rem;
  color: hsl(178deg, 100%, 50%);
  font-weight: 600;
  position: relative;
  padding-left: 17px;
}
.NFTCard .NFTCard__infos .NFTCard__price::before {
  content: "";
  background-image: url("../assets/icon-ethereum.svg");
  position: absolute;
  width: 11px;
  height: 18px;
  left: 0;
  top: 1px;
}
.NFTCard .NFTCard__infos .NFTCard__timeleft {
  font-size: 1rem;
  color: hsl(215deg, 51%, 70%);
  position: relative;
  padding-left: 22px;
  justify-self: right;
}
.NFTCard .NFTCard__infos .NFTCard__timeleft::before {
  content: "";
  background-image: url("../assets/icon-clock.svg");
  position: absolute;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 2px;
}
.NFTCard .NFTCard__creator {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid hsl(215deg, 32%, 27%);
  padding-top: 1rem;
  margin-bottom: 0.5rem;
}
.NFTCard .NFTCard__creator .NFTCard__profilpic {
  width: 33px;
  height: 33px;
  border: 1px solid hsl(0deg, 0%, 100%);
  border-radius: 50%;
}
.NFTCard .NFTCard__creator .NFTCard__profilpic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.NFTCard .NFTCard__creator .NFTCard__credit {
  color: hsl(215deg, 51%, 70%);
  font-size: 1rem;
  font-weight: 400;
}
.NFTCard .NFTCard__creator .NFTCard__credit a {
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
  transition: color 0.3s ease;
}
.NFTCard .NFTCard__creator .NFTCard__credit a:hover {
  color: hsl(178deg, 100%, 50%);
}

/* ----- NFTCard styles mobile ----- */
@media screen and (max-width: 768px) {
  .NFTCard {
    width: 327px;
  }
  .NFTCard .NFTCard__img {
    width: 278px;
    height: 278px;
  }
}
/* ----- NFTCard attribution ----- */
.attribution {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  font-size: 0.6875rem;
  color: hsl(0deg, 0%, 100%);
  text-align: center;
}
.attribution a {
  color: hsl(215deg, 51%, 70%);
}
